.row {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    .flex-box-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.column-flex {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 500px !important;
    background-color: red;
    flex-direction: column;
}