.row {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    .flex-box-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.column-flex {
    display: flex;
    width: 485px;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    margin-top: 60px;
}