.row {
    max-width: $grid-width;
    margin: 0 auto;
    grid-template-columns: repeat(2,270px);


    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

.flex-box {

}

.flex-box-2 {
    
}

}