.navigation {
    margin: auto;
    padding: 0;
    background-color: $color-primary-light;
    height: 100px;
    display: flex;
    justify-content: center;

    &__list {

    }

    &__link {
        text-decoration: none;
    }

    &__link:hover {
        background-color: rgb(255, 255, 255);
    }

    &__item {
        display: inline;
        background-color: $color-green-dark-2;
        margin: 10px;
    }

    &__logo {
        display: flex;
        justify-content: start;
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }


}