
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
}


body {
    height: 100vh;
    background-color: #000;
    background-image:linear-gradient(to left top,  hsla(46, 85%, 60%, 0.5),
    rgba(232, 156, 247, 0.5)),
    url(img/background.jpg);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

a:hover {
    color: orange;
}
/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}


.navbar {
    width: 100%;
    height: 95px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    animation-name:  moveNavbar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

}

.navbar .logo a {
    font-size: 1.5;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 4em;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    font-size: 1em;
}

.action_btn:active {
    scale: 0.95;
}

.action_btn:hover {
    scale: 1.05;
    color: rgb(255, 255, 255);
}



/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 70px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.dropdown_menu.open{
    height: 260px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* LINK */
section#hero {
    height: calc(30em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#fff;
}

#hero h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    animation-name: moveCenter;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

#hero p {
    font-size: 1.2em;
    animation-name: moveCenter;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}




/* MEDIA */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;

    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

}


/* EMAIL */
.border {
    position: relative;
    height: 200px;
    width: 750px;
    border-radius: 40px;
    background-color: rgba(175, 43, 82,.5);
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; 
}

.border p {
    position: absolute;
    color: #fff;
    margin-left: 55px;
    margin-top: 40px;
}

#btn {
    position: relative;
    background-color: rgb(214, 144, 13);
    /* color: #777; */
    width: 7em;
    height: 3em;
    border-radius: 2em;
    margin-left: 2em;
    
}

#btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(231, 221, 221, 0.2);
}

#btn:active {
    transform: translateY(-1px);
}


#email {
    margin-top: 120px;
    margin-left: 55px;
    width: 20em;
    height: 2.7em;
    border-radius: 30px;

}

.letter{
    position: fixed;
    width: 10em;
    margin-left: 530px;
    margin-top: 15px;
    animation-name: moveLetter;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

footer {
    position: absolute;
    right: 70px;
    margin-left: auto;
    bottom: 60px;
}

/* Media border */
@media (max-width: 768px) {
     #email {
        width: 40%;
        position: relative;
        top: 20px;
        right: 20px;
    }

    #btn {
        width: 30%;
        top: 20px;
        right: 20px;
    }

    .border {
        left: 2rem;
        width: 350px;
    }
    .border p { 
        left: -20px;

    }
}


/* Frames */

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translate(-1rem);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveLetter {
    0% {
        opacity: 0;
        transform: translate(10rem);
    }

    80% {
        transform: translate(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0) rotate(360deg);
    }
}


@keyframes moveNavbar {
    0% {
        opacity: translateY(10rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateY();
    }
}

@keyframes moveCenter {
    0% {
        opacity: translateY(10rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateY();
    }
}