.section-about {
    background-color: #1e5af2;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // clip-path: polygon(20% 0%, 80% 0%, 100% 96.5%, 0% 96.2%);


    &__side {
        width: 50%;
        display: flex;
        justify-content: center;
        float: inline-end;
    }
}


.section-features {
    background-color: $color-green-dark;

    .section-features-block {
        padding: 20rem 0;
        background-image: linear-gradient(to left top,
                rgba($color-green-dark, 0.8),
                rgba($color-green-dark-2, 1)),
            url(/Aero/img/bridge_body.jpg);

        background-size: cover;
        margin-top: -46px;
        transform: skewY(4deg);
        margin-top: -15vh;

        &>* {
            transform: skewY(-4deg);
        }
    }

    // transform: skewY(2deg);
}

.section-tours {
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    min-height: 100vh;
    padding: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    background: hsl(220, 10%, 12%);
}