// My button

// .btn {
//     &,
//     &:link,
//     &:visited {
//         text-transform: uppercase;
//         text-decoration: none;
//         padding: 24px 64px;
//         display: inline-block;
//         border-radius: 30px;

//     }

//     &--white {
//         background-color: $color-white;
//         color: $color-green-dark;

//         &::after {
//             background-color: #ffffff;
//         }
//     }
// }

// 3D button

// .btn {

//     & *,
//     & :after,
//     & :before,
//     &:after,
//     &:before {
//         border: 0 solid;
//         box-sizing: border-box;
//     }

//     & {
//         -webkit-tap-highlight-color: transparent;
//         -webkit-appearance: button;
//         background-color: #000;
//         background-image: none;
//         color: #fff;
//         cursor: pointer;
//         font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
//             Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
//             Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
//         font-size: 100%;
//         line-height: 1.5;
//         margin: 0;
//         -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
//         padding: 0;
//     }

//     &:disabled {
//         cursor: default;
//     }

//     &:-moz-focusring {
//         outline: auto;
//     }

//     & svg {
//         display: block;
//         vertical-align: middle;
//     }

//     & [hidden] {
//         display: none;
//     }

//     & {
//         text-decoration: none;
//         --progress: 15px;
//         background: #fff;
//         bottom: var(--progress);
//         box-sizing: border-box;
//         color: #000;
//         //   display: block;
//         font-weight: 900;
//         -webkit-mask-image: none;
//         padding: 1.2rem 3rem;
//         perspective: 800px;
//         position: relative;
//         text-transform: uppercase;
//         transform: rotateX(55deg) rotate(25deg);
//         transform-style: preserve-3d;
//         transition: bottom 0.2s;
//     }

//     &:after,
//     &:before {
//         content: "";
//         display: block;
//         position: absolute;
//         transform-origin: 0 0;
//     }

//     &:before {
//         background: #eee;
//         height: var(--progress);
//         left: 0;
//         top: 100%;
//         transform: rotateX(-90deg);
//         transition: height 0.2s;
//         width: 100%;
//     }

//     &:after {
//         background: #ccc;
//         height: 100%;
//         left: 100%;
//         top: 0;
//         transform: rotateY(90deg);
//         transition: width 0.2s;
//         width: var(--progress);
//     }

//     &:active {
//         --progress: 0px;
//     }
// }


.btn {

  & *,
  & :after,
  & :before,
  &:after,
  &:before {
    border: 0 solid;
    box-sizing: border-box;
  }

    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
   font-family: "Roboto";
    font-size: 100%;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-decoration: none;

    background: none;
    border-radius: 999px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 1.2rem 3rem;
    position: relative; // relative
    text-transform: uppercase;
    // margin-left: 190px;
    


  &:disabled {
    cursor: default;
  }

  &:-moz-focusring {
    outline: auto;
  }

  // & svg {
  //   display: block;
  //   vertical-align: middle;
  // }

  & [hidden] {
    display: none;
  }

  & span {
    font-weight: 700;
    mix-blend-mode: difference;
    transition: opacity 0.5s;
  }

  &:hover span {
    -webkit-animation: text-reset 0.2s 0.8s forwards;
    animation: text-reset 0.2s 0.8s forwards;
    opacity: 0;
  }

  &:after,
  &:before {
    border: 4px solid #fff;
    border-radius: 999px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: height 0.2s;
    width: 100%;
  }

  &:after {
    background: #fff;
    border: none;
    height: 2rem;
    width: 0;
    z-index: -1;
  }

  &:hover:before {
    -webkit-animation: border-reset 0.2s linear 0.78s forwards;
    animation: border-reset 0.2s linear 0.78s forwards;
    height: 2rem;
  }

  &:hover:after {
    -webkit-animation: progress-bar 1.3s;
    animation: progress-bar 1.3s;
  }

  @-webkit-keyframes progress-bar {
    0% {
      opacity: 1;
      width: 0;
    }

    10% {
      opacity: 1;
      width: 15%;
    }

    25% {
      opacity: 1;
      width: 25%;
    }

    40% {
      opacity: 1;
      width: 45%;
    }

    55% {
      opacity: 1;
      width: 75%;
    }

    60% {
      opacity: 1;
      width: 100%;
    }

    to {
      opacity: 0;
      width: 100%;
    }
  }

  @keyframes progress-bar {
    0% {
      opacity: 1;
      width: 0;
    }

    10% {
      opacity: 1;
      width: 15%;
    }

    25% {
      opacity: 1;
      width: 25%;
    }

    40% {
      opacity: 1;
      width: 45%;
    }

    55% {
      opacity: 1;
      width: 75%;
    }

    60% {
      opacity: 1;
      width: 100%;
    }

    to {
      opacity: 0;
      width: 100%;
    }
  }

  @-webkit-keyframes border-reset {
    0% {
      height: 2rem !important;
    }

    to {
      height: 100% !important;
    }
  }

  @keyframes border-reset {
    0% {
      height: 2rem !important;
    }

    to {
      height: 100% !important;
    }
  }

  @-webkit-keyframes text-reset {
    0% {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes text-reset {
    0% {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}