

.calc {
    margin: 100px auto;
    width: 300px;
    height: 500px;
    border: 3px solid #260c9b;
    border-radius: 50px;
    background: #000000;
    color: #eedddd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 10px 10px 10px #6b6969;
}

.calc-screen {
    height: 120px;
    width: 280px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;
}

.calc-screen p {
    text-align: right;
    font-size: 4rem;
    margin:0;
}


.buttons {
    display: grid;
    grid-template-areas:
    "ac plus-minus percent division"
    "seven eight nine multi"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 8px;
    justify-items: center;

}

.btn {
    width: 60px;
    height: 60px;
    background: #1157da;
    border-radius: 35%;
    text-align: center;
    line-height: 50px;
    font-size: 1.8rem;
    cursor: pointer;
    user-select: none;
}


.btn.zero {
    grid-area: zero;
    width: 100%;
    border-radius: 27px;
}

.btn:hover {
    filter: brightness(120%);
}


.btn.bg-purple {
    background: #7f0de9;
}

.btn.bg-pink {
    background: #ce116f;
}