$color-primary: #0b3086;
$color-primary-light: #0c4d8f;
$color-primary-dark: #191970;

$color-white-light: #F0F8FF;
$color-white-light-2: #E1EBEE;

$color-green-dark: #005f69;
$color-green-dark-2: #008080;
$color-green-dark-3: #008E97;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 24px;
